.home-content{
    margin: 0;

    display: grid;
    grid-template-rows: 1fr 2fr ;
    row-gap: 25px;

}

.pdfpreview-section{
    background-color: red;
    height: 50px;

}

.choice-analysis-section{
    
    display: flex;
    gap: 10px;
    justify-content: center;
}

.title-section{
    display: flex;
    justify-content: center;
}

