.home-content{
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 2fr ;
}

.pdfpreview-section{
    background-color: red;
    height: 50px;
}

.loadfile-input-section{
    margin-top: 1rem;
}


.choice-analysis-section{
    display: grid;
    grid-template-rows: 1fr 20px ;
    row-gap: 20px;
}


.title-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
}

